rdiv.name{
    background-color: none;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    
    h1{
        padding-top: 2%;
        padding-left: 15%;
    color: rgb(172, 95, 8);
}

    
img{
    position: absolute;
    bottom: 5%;
    left: 40%;
   max-width: 300px; 
   max-height:300px; 
border-radius: 3%;


   flex-shrink: 10; 

}
div.image{
    background-color:none;
}
div.info{
 
     display: flex;
    position: absolute;
    display: inline;
    top: 20%;
    left: 20%;
       background-color:none;
    
    font-size: 125%;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #752c0a;
   flex-shrink: 10; }
label{
    a:hover {color : red ; }
  color: rgb(48, 30, 17);
    position: absolute;
    display: inline;
    bottom: 0%;
    right: 2%;
    font-weight: bold;
   flex-shrink: 10; 
    
    
}


    
    

div.container{background-image: linear-gradient(to top right, rgb(45, 101, 165)30%, rgb(22, 5, 58)70%);

width: 100%;
height: 100vh;
                flex-shrink: 10; 
   border: #0c0125 solid 0px;
box-sizing:content-box;
border-radius: 1%;
            
}













